.skills-page-container {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 150px;
	margin: 0 auto;
	padding: 200px 64px 64px 64px;
	width: 90%;
	max-width: 1700px;
	height: 100%;
	/* GPU acceleration */
	transform: translateZ(0);
	will-change: transform;
}

.skills-showcase {
	display: flex;
	/* gap: 50px; */
	column-gap: 50px;
	row-gap: 80px;
	flex-direction: column;

	align-content: center;
	justify-content: center;
	align-items: center;
	transform: translateZ(0);
	will-change: transform;
	height: auto;
}

@media (max-width: 1600px) {
	.skills-page-container {
		flex-direction: column-reverse;
		gap: clamp(24px, 5vw, 64px);
		padding: 16vh 3vw 8vh 3vw;
	}
	.skills-showcase {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

@media (max-width: 800px) {
	.skills-page-container {
		padding: 8vh 2vw 4vh 2vw;
		gap: clamp(24px, 10vw, 100px);
	}

	.skills-showcase {
		column-gap: clamp(30px, 5vw, 40px);
		row-gap: clamp(50px, 8vw, 60px);
	}
}

@media (max-height: 800px) and (max-width: 1600px) {
	.skills-page-container {
		padding: 100px 2vw 4vh 2vw;
		gap: clamp(10px, 3vh, 60px);
	}
	.skills-showcase {
		column-gap: clamp(30px, 10vw, 40px);
		row-gap: 50px;
	}
}

@media (max-height: 800px) and (max-width: 800px) {
	.skills-page-container {
		padding: 75px 2vw 4vh 2vw;
		gap: clamp(10px, 3vh, 60px);
	}
}

@media (min-height: 800px) and (max-width: 500px) {
	.skills-page-container {
		gap: clamp(10px, 8vh, 100px);
	}
	.skills-showcase {
		column-gap: clamp(20px, 4vw, 30px);
		row-gap: clamp(40px, 6vw, 50px);
	}
}
