.experience-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 256px;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	max-width: 1500px;
	height: 100%;
}

.exp-bar-and-trailing-dots-container {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	gap: 9px;
	width: 100%;
}

.exp-bar-wrapper {
	display: flex;
	position: relative;
	align-items: center;
	width: 100%;
	height: 75px;
}

.exp-bar {
	position: relative;
	transform: translateZ(0);
	box-shadow: 0 0 10px rgba(146, 255, 230, 0.4),
		0 0 20px rgba(146, 255, 230, 0.2);
	border-radius: 6px;
	background: linear-gradient(
		90deg,
		rgba(148, 200, 255, 0.4),
		rgba(148, 200, 255, 0.8) 75%,
		rgba(146, 255, 253, 0.8)
	);
	width: 100%;
	height: 10px;
	user-select: none;
}

.trailing-dots-container {
	display: flex;
	flex-direction: row;
	gap: 9px;
}

.exp-bar-trailing-dots {
	transform: translateZ(0);
	will-change: transform, opacity;
	box-shadow: 0 0 10px rgba(146, 255, 230, 0.4),
		0 0 20px rgba(146, 255, 230, 0.2);
	border-radius: 50%;
	background: rgba(146, 255, 253, 0.8);
	width: 9px;
	height: 9px;
	user-select: none;
}

@media (max-width: 1400px) {
	.experience-container {
		gap: clamp(32px, 4vh, 64px);
	}
	.exp-bar-and-trailing-dots-container {
		height: 500px;
		scroll-behavior: smooth;
		scrollbar-width: thin;
		width: 100vw;
		padding: 0 10vw;
		mask: linear-gradient(
			to right,
			transparent 0%,
			rgb(0, 0, 0) clamp(4%, 4vw, 8%),
			rgb(0, 0, 0) clamp(92%, 4vw, 96%),
			transparent 100%
		);
	}
	.exp-bar-wrapper {
		width: 100%;
	}
}

@media (max-width: 900px) {
	.exp-bar-and-trailing-dots-container {
		overflow-x: auto;
		overflow-y: hidden;
		padding: 0 12vw;
	}
	.exp-bar-wrapper {
        width: 125vw;
        min-width: 1000px;
    }
}
