.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 40vh;
}

.buttons-wrapper {
  /* padding: 0px 230px; */
  margin-top: 50px;
  display: flex;
  align-items: center;
  width: 63%;
  gap: 30px;
}

.name-wrapper {
  font-family: "Jura", "Montserrat", sans-serif;
  font-size: 12rem;
  font-weight: 500;
  color: rgba(148, 200, 255, 0.65);
  letter-spacing: 0.11em;
  text-align: left;
  line-height: 1.075em;
  user-select: none;
  text-shadow: 0px 0px 18px rgba(5, 0, 16, 0.3),
    0px 0px 24px rgba(5, 0, 16, 0.6);
}

.dirk {
  mask: linear-gradient(-90deg, transparent 0%, black 20%, black 100%);
}

.wilson {
  padding-left: 0.095em;
  mask: linear-gradient(-90deg, transparent 0%, black 11%, black 100%);
}

.di {
  color: rgb(146, 255, 230);
  filter: blur(1.1px);
}

.wi {
  color: rgb(146, 255, 230);
  filter: blur(1.1px);
}

@keyframes fadeInText {
  from {
    filter: blur(10px);
    opacity: 0;
  }
  to {
    filter: blur(0px);
    opacity: 1;
  }
}

/* Tied to fadeInText Animation */
.dirk,
.wilson {
  opacity: 0;
  filter: blur(10px);
}

.dirk.animate {
  animation: fadeInText 1.5s ease-out forwards;
  animation-delay: 0.2s;
}

.wilson.animate {
  animation: fadeInText 1.5s ease-out forwards;
  animation-delay: 0.6s;
}
