.dynamic-text-wrapper {
  display: flex;
  height: auto;
  width: 63%;
}

.dynamic-text {
  font-family: "Jura", "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;

  color: pink;
  transition: filter var(--fade-duration, 0.3s) ease-out,
    opacity var(--fade-duration, 0.3s) ease-out;
}

.dynamic-text.visible {
  filter: blur(0px);
  opacity: 1;
}

.dynamic-text.hidden {
  filter: blur(8px);
  opacity: 0;
}
