.popup-line-container {
	position: absolute;
	height: 150px;
}

/* --- Text Container --- */
.text-container {
	transform: translateZ(0);
	will-change: transform, opacity;
	border-radius: 6px;
	padding: 8px 12px;
	width: auto;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Jura';
	white-space: nowrap;
}

.text-container > strong:first-child {
	display: block;
	color: rgba(var(--primary-rgb), 0.8);
	font-weight: 600;
	font-weight: 600;
	font-size: 22px;
	line-height: 28px;
	text-shadow: 0 0 8px rgba(var(--primary-rgb), 0.7);
}

/* --- Text RIGHT of line --- */
.text-container.right {
	position: absolute;
}

.text-container.up.right {
	position: absolute;
	top: 0;
	left: 10px;
}

.text-container.down.right {
	position: absolute;
	bottom: 0;
	left: 10px;
}

/* --- Text LEFT of line --- */
.text-container.left {
	position: absolute;
	text-align: right;
}

.text-container.up.left {
	top: 0;
	right: 10px;
}

.text-container.down.left {
	right: 10px;
	bottom: 0;
}

/* --- Line Variants --- */
.popup-line {
	position: absolute;
	transform: translateZ(0);
	z-index: -10;
	filter: blur(1px);
	will-change: transform, opacity;
	box-shadow: 0 0 10px rgba(146, 255, 230, 0.1),
		0 0 20px rgba(146, 255, 230, 0.3);
	border-radius: 6px;
	width: 3px;
	height: 150px;
}

.popup-line.up {
	background: linear-gradient(
		0deg,
		rgba(168, 148, 255, 0.05) 0%,
		rgba(171, 148, 255, 0.3) 25%,
		rgba(148, 200, 255, 0.6) 75%,
		rgba(146, 255, 253, 0.8) 100%
	);
}

.popup-line.down {
	background: linear-gradient(
		180deg,
		rgba(168, 148, 255, 0.05) 0%,
		rgba(171, 148, 255, 0.3) 25%,
		rgba(148, 200, 255, 0.6) 75%,
		rgba(146, 255, 253, 0.8) 100%
	);
}
