.text-container {
	width: auto;
	height: auto;
	padding: 22px 32px;
	border-radius: 8px;
    font-size: 20px;
    line-height: 32px;
    text-shadow: rgba(5, 0, 16);
    /* background-color: rgba(5, 0, 16, 0.2); */
}