/* TODO: Make Half-Box auto width based on content within. */
.skills-box {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: clamp(24px, 4vw, 56px);
	transform: translateZ(0);
	will-change: transform, opacity;
	box-shadow: inset 0px 0px 10px rgba(var(--primary-rgb), 0.15),
		0px 0px 20px rgba(var(--primary-rgb), 0.15);
	border: 1px solid rgba(var(--secondary-rgb), 0.6);
	border-bottom: none;
	border-radius: clamp(4px, 0.5vw, 8px) clamp(4px, 0.5vw, 8px) 0 0;
	padding: clamp(8px, 1vw, 12px) clamp(12px, 2vw, 24px);
	width: auto;
	height: auto;
}

.box-title {
	position: absolute;
	top: -42px;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(var(--secondary-rgb));
	font-weight: 600;
	font-size: clamp(0.9em, 2.5vw, 1.4em);
	font-family: 'Jura';
	user-select: none;
	text-shadow: 0 0 16px rgba(5, 0, 16);
}

.vertical-line {
	position: absolute;
	top: -11px;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 0 10px rgba(146, 255, 230, 0.3);
	background-color: rgba(var(--secondary-rgb), 0.6);
	width: 2px;
	height: 10px;
}

.skill-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: clamp(2px, 0.5vw, 4px);
	height: 100%;
	/* text-shadow: 0 0 10px rgba(5, 0, 16); */
}

.skill-logo span {
	font-size: clamp(10px, 1.2vw, 14px);
	line-height: 1.2;
	text-align: center;
}

@media (max-height: 800px) and (max-width: 800px) {
	.skills-box {
		padding: clamp(4px, 1vw, 8px) clamp(8px, 2vw, 12px);
	}
}

@media (max-width: 800px) {
	.skills-box {
		gap: clamp(16px, 8vw, 64px);
		padding: clamp(6px, 1vw, 10px) clamp(10px, 1.5vw, 16px);
	}

	.box-title {
		top: -32px;
		/* font-size: clamp(14px, 2vw, 18px); */
	}

	.vertical-line {
		top: -9px;
		height: 8px;
	}
}

@media (max-width: 400px) {
	.skills-box {
		gap: clamp(16px, 5vw, 32px);
		border-radius: clamp(3px, 0.4vw, 6px) clamp(3px, 0.4vw, 6px) 0 0;
		padding: clamp(4px, 0.8vw, 8px) clamp(8px, 1.2vw, 12px);
	}

	.box-title {
		top: -24px;
		/* font-size: clamp(12px, 1.8vw, 16px); */
	}

	.skill-logo span {
		font-size: clamp(8px, 1vw, 12px);
	}

	.vertical-line {
		top: -7px;
		height: 6px;
	}
}
