.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  padding: 0px 32px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  min-height: 0;
}

.background-scene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  /* pointer-events: none; */
}

.background-scene canvas {
  width: 100vw !important;
  height: 100vh !important;
}

.scroll-wrapper {
  margin-top: 104px;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.scroll-section {
  position: relative;
  scroll-snap-stop: always;
  scroll-snap-align: start;
  height: 100%;
  background: none;
}

.footer {
  scroll-snap-align: end;
  height: 100px;
}

/* Scrollbar Disable */
.scroll-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
