.main {
  display: flex;
  flex-direction: column;
  height: 100svh;
  width: 100vw;
  overflow: hidden;
}

.background-scene {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  height: 100svh;
  /* pointer-events: none; */
  /* GPU acceleration */
  transform: translateZ(0);
  will-change: contents;
}

.background-scene canvas {
  width: 100vw !important;
  height: 100svh !important;
  /* GPU acceleration */
  transform: translateZ(0);
  will-change: transform;
}

.scroll-wrapper {
  height: 100svh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: auto;
  scroll-snap-type: y mandatory;
}

.scroll-section {
  position: relative;
  background: none;
  height: 100svh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  /* GPU acceleration */
  transform: translateZ(0);
  will-change: transform;
}

/* Disable Scrollbar */
.scroll-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
