.skills-container {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: auto;
	margin-left: auto;
	width: 75%;
	min-width: 1000px;
	max-width: 1500px;
	height: 100vh;
	min-height: 1000px;
}

.skills-showcase {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 82px;
  height: auto;
}