.skills-page-container {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 90px;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	min-width: 1000px;
	max-width: 1700px;
	height: 100vh;
	/* min-height: 1000px; */
}

.skills-showcase {
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	align-items: center;
	/* gap: 50px; */
	column-gap: 50px;
	row-gap: 80px;
	height: auto;
	width: auto;
}