.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 300px;
  padding-bottom: 40vh;
  height: 100vh;
  overflow-x: auto;
}

.skills-showcase {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 82px;
  height: auto;
}