.project-gallery-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: flex-start;
	gap: clamp(16px, 2vw, 24px);
	border-radius: 12px;
	padding: 14px 20px;
	width: 400px !important;
	max-width: 800px;
	height: 400px;
	font-size: 1em;
	background-color: rgba(7, 9, 42, 0.25);
	/* GPU acceleration */
	transform: translateZ(0);
	will-change: transform, opacity;
}

.project-gallery-grid {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 20px 20px;
	width: 100%;
	height: 100%;
	/* GPU acceleration */
	transform: translateZ(0);
	will-change: transform, opacity;
}

.project-gallery-item {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	user-select: none;
	text-align: center;
	/* GPU acceleration */
	transform: translateZ(0);
	will-change: transform, opacity;
}

/* 	Hack for overriding global style
	TODO: Remove need for this by altering global style or making new one. */
.project-gallery-item::after {
	border-radius: 10px !important;
}

.project-gallery-item h3 {
	margin: 0;
	font-weight: 600;
	font-size: clamp(0.6rem, 2.5vw, 1rem);
	line-height: 1.2;
	color: var(--color-primary);
}

@media (max-width: 1600px) {
	.project-gallery-container {
		padding: clamp(8px, 2vw, 16px) clamp(12px, 2.5vw, 24px);
		width: clamp(200px, 100%, 700px) !important;
		height: 300px;
		gap: 16px;
	}

	.project-gallery-container h1 {
		font-size: 1.4em;
		line-height: 1;
	}

	.project-gallery-grid {
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		gap: clamp(8px, 2vw, 15px);
	}

	.project-gallery-item {
		padding: clamp(5px, 1.5vw, 10px);
		width: 100%;
		height: 100%;
	}

	.project-gallery-item h3 {
		font-size: clamp(0.5rem, 3vw, 0.9rem);
	}
}

@media (max-height: 1000px) and (max-width: 1600px) {
	.project-gallery-container {
		height: clamp(150px, 20vh, 400px) !important;
	}
	.project-gallery-container h1 {
		font-size: clamp(1rem, 2.5vw, 1.1em);
		padding-top: 8px;
		padding-bottom: 4px;
		line-height: 0 !important;
	}
}
